*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    /* background-color: rgb(237, 241, 241); */
    background-color: white;


  }
  
  .logins {
    width: 100%;
    max-width: 400px;
    height: 450px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #f9f9f9; */
    background-color: white;
    background-color: rgb(237, 241, 241);
    position: relative;
    text-align: center;
  }
  
  .logins h4 {
    margin-bottom: 20px;
    font-weight: 900px;
    /* font-size: 50px; */
    /* font-family: Fantasy; */
  }
  
  .logins label {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
  
  /* .logins input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
  
  .d-flex {
    flex-direction: column;
  }
  .logo_ebrain{
    position: absolute;
    top: -25px ;
    left: 150px;
    padding: 0 10px;
  }
  img{
    width: 120px;
    height: 45px;
    /* float: left;
    border: 1px solid rgb(240, 240, 240); */

    
  }
  